.bloc{
    height: 80vh;
    width: 100%;
    position: relative;
    z-index: -1;
    .carousel-inner{
        height: 100%;
        .active{
            background-color: blueviolet;
            height: 100%;
        }
        .tcontact{
            position: absolute;
            z-index: 1;
            color: white;
            font-weight: bold;
            top: 40%;
            left: 25%;
            font-size: 6rem;
        }
    }
}

.nb{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    .container{
        background-color: rgb(102,178,46);
        width: 70%;
        height: 65%;
        display: flex;
        .icon{
            width: 20%;
            height: 100%;
            display: flex;
            align-items: center;
            .fa-exclamation{
                height: 90%;
                width: 100%;
                color: white;
                font-size: 10rem;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .para{
            width: 70%;
            p{
                font-size: x-large;
                color: white;
                display: flex;
                height: 100%;
                align-items: center;
            }
        }
    }
}

.bonj{
    text-align: left;
}

.formulaire{
    height: 100vh;
    width: 100%;
    .containerp{
        width: 100%;
        height: 100%;
        .row{
            height: 100%;
            width: 100%;
            .contact{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 5%;
                .num{
                    font-size: x-large;
                    font-weight: bold;
                    margin-top: 3vh;
                    color: black;
                }
                .txt{
                    font-weight: bold;
                    font-size: x-large;
                    margin-top: 3vh;
                    color: black;
                }
            }
            .formul{
                background-color: white;
                p{
                    color: rgb(142, 142, 142);
                    font-weight: bold;
                }
                .forma{
                    box-shadow: -5px 5px 8px gray ;
                    label{
                        margin-top: 2vh;
                        color: black;
                        font-weight: bold;
                    }
                    .message{
                        display: flex;
                        justify-content: center;
                        textarea{
                            width: 97%;
                        }
                    }
                    button{
                        margin-left: 2%;
                        margin-top: 2vh;
                        margin-bottom: 1vh;
                        color: white;
                    }
                    span{
                        color: blue;
                        display: none;
                    }
                }
            }
        }
    }
}