.domaines{
    background-color: black;
    height: 50vh;
    position: relative;
    h2{
        color: white;
        padding-top: 5vh;
    }
    .bloc{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 2;
        .row{
            height: 100%;
            width: 100%;
            margin-right: 0%;
            margin-left: 0%;
            margin-top: -5%;
            display: flex;
            justify-content: space-around;
            .dom{
                position: relative;
                h5{
                    color: white;
                    font-weight: bold;
                    position: absolute;
                    width: 100%;
                    z-index: 4;
                    text-align: center;
                    top: 50%;
                }
                .img{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    z-index: 3;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    img{
                        width: 90%;
                        height: 78%;
                    }
                }
            }
        }
    }
}