.navbar{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding-top: 0%;
    padding-bottom: 0%;
    height: 11vh;
}
.container-fluid2{
    height: 100%;
    width: 100%;
    display: flex;
}
.navbar-brand{
    height: 100%;
    width: 15%;
    padding-top: 0%;
    padding-bottom: 0%;
    img{
        width: 100%;
        height: 100%;
    }
}
.navbar-collapse{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    .navbar-nav{
        width: 38%;
        display: flex;
        justify-content: space-around;
    }
}
.dropdown-menu{
    background-color: black;
    a{
        color: white;
    }
}
.nav-link{
    color: white;
}