.navbar{
    background-color: black;
    display: flex;
    justify-content: space-around;
    padding-top: 0%;
    padding-bottom: 0%;
    height: 11vh;
}
.container-fluid2{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navbar-brand{
    height: 100%;
    width: 15%;
    padding-top: 0%;
    padding-bottom: 0%;
    img{
        width: 100%;
        height: 100%;
    }
}

.navbar-collapse{
    width: 40%;
    display: flex;
    justify-content: flex-end;
    .navbar-nav{
        display: flex;
        justify-content: space-around;
    }
}
.dropdown-menu{
    background-color: black;
    a{
        color: white;
    }
}
.nav-link{
    color: white;
}



@media screen and (max-width: 576px) {
    .navbar-brand{
        height: 120%;
        width: 40%;
        margin-top: -2%;
    }
    .navbar-collapse {
        margin-top: -2%;
        position: absolute;
        z-index: 2;
        top: 10vh;
        width: 100%;
        .navbar-nav{
            background-color: rgba(0, 0, 0, .7);
            width: 100%;
        }
    }
}

@media screen and (min-width: 576px) {
    body{
        
    }
}

@media screen and (min-width: 768px) {
    .navbar-brand{
        width: 28%;
    }
    .navbar-dark{
        .navbar-nav{
            .nav-link{
                font-size: x-large;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .navbar-brand{
        height: 100%;
        width: 15%;
        padding-top: 0%;
        padding-bottom: 0%;
        img{
            width: 100%;
            height: 100%;
        }
    }
    .navbar-dark{
        .navbar-nav{
            .nav-link{
                font-size: large;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    
}

@media screen and (min-width: 1400px) {
    
}