h2{
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    height: 13vh;
    padding-top: 7vh;
    color: black;
}
.containerp{
    width: 100%;
    height: 60vh;
    .row{
        width: 100%;
        height: 100%;
        margin-left: 0%;
        .para{
            height: 100%;
            font-size: 1.5rem;
            color: black;
            padding-left: 6%;
            padding-top: 6vh;
            font-weight: 450;
        }
        .illustration{
            height: 100%;
            .img{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 80%;
                    height: 80%;
                }
            }
        }
    }
}

@media screen and (min-width: 576px) {
    .containerp{
        .row{
            .illustration{
                
            }
        }
    }
}

@media screen and (min-width: 768px) {
    body{
        background-color: pink;
    }
}

@media screen and (min-width: 992px) {
    body{
        background-color: gray;
    }
}

@media screen and (min-width: 1200px) {
    body{
        background-color: green;
    }
}

@media screen and (min-width: 1400px) {
    body{
        background-color: teal;
    }
}