.projet{
    .containerp{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
        .row{
            width: 90%;
            height: 50%;
            .col-3{
                padding-left: 0%;
                padding-right: 0%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}