.projet{
    .containerp{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
        .row{
            width: 90%;
            height: 50%;
            .col-3, .imge{
                padding-left: 0%;
                padding-right: 0%;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}


@media screen and (max-width: 576px) {
    .projet{
        .containerp{
            .row{
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@media screen and (min-width: 576px) {
    body{
        
    }
}

@media screen and (min-width: 768px) {
    .projet{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 992px) {
   
}

@media screen and (min-width: 1200px) {
    
}

@media screen and (min-width: 1400px) {
    
}