.service{
    background-color: rgb(102,178,46);
    margin-top: 10vh;
    height: 100vh;
    h2{
        padding-top: 2vh;
    }
    .containerp{
        display: flex;
        align-items: center;
        flex-direction: column;
        height: auto;
        .row{
            margin-top: 5vh;
            display: flex;
            width: 90%;
            justify-content: space-around;
            .col-md-3, .col-12{
                h4{
                    text-align: center;
                    color: black;
                    font-weight: bold;
                    height: 11vh;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                }
                ul{
                    li{
                        align-items: center;
                        color: white;
                    }
                }
            }
        }
    }
}
.im{
    width: 25%;
    height: 35vh;
    .img{
        height: 100%;
        width: 100%;
        img{
            height: 100%;
            width: 120%;
        }
    }
}


@media screen and (max-width: 576px) {
    .service{
        height: auto;
    }
    .im{
        display: none;
    }
}

@media screen and (min-width: 576px) {
    
}

@media screen and (min-width: 768px) {
    .service{
        height: auto;
    }
    .containerp{
        .row{
            .imge{
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }
    }
    .im{
        width: 40%;
        .img{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                height: 80%;
            }
        }
    }
    footer{
        .containerp{
            .row{
                .imge{
                    display: none;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    footer{
        .containerp{
            .row{
                .imge{
                    display: block;
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    
}

@media screen and (min-width: 1400px) {
    
}