.bloc{
    height: 80vh;
    width: 100%;
    position: relative;
    z-index: -1;
    .carousel-inner{
        height: 100%;
        .active{
            height: 100%;
        }
        .tsite{
            position: absolute;
            z-index: 1;
            color: white;
            font-weight: bold;
            top: 20%;
            left: 8%;
            font-size: 3rem;
        }
        .tindexe{
            position: absolute;
            z-index: 1;
            color: white;
            font-weight: bold;
            top: 8%;
            right: 30%;
            font-size: 3rem;
        }
    }
}

h2{
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    height: 13vh;
    padding-top: 7vh;
    color: black;
}

.containerp{
    width: 100%;
    height: 60vh;
    margin-top: 6vh;
    .row{
        width: 100%;
        height: 100%;
        margin-left: 0%;
        .para{
            height: 100%;
            font-size: 1.8rem;
            color: black;
            padding-left: 6%;
            padding-top: 0vh;
            font-weight: 450;
            p{
                height: 100%;
                display: flex;
                align-items: center;
            }
        }
        .illustration{
            height: 100%;
            .img{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 95%;
                    height: 95%;
                }
            }
        }
    }
}

.cta{
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .btn{
        color: white;
        font-weight: bold;
    }
}

.pied{
    margin-top: -5vh;
}

.blocsiter{
    margin-top: 10vh;
    height: 90vh;
    .containerr{
        height: 90%;
        .row{
            height: 100%;
        }
    }
}

.seo, .sea{
    display: flex;
    justify-content: center;
    .int{
        width: 65%;
        .img{
            width: 100%;
            height: 45%;
            position: relative;
            h3{
                position: absolute;
                z-index: 1;
                font-size: 5rem;
                font-weight: bold;
                color: white;
                top: 30%;
                left: 32%;

            }
            img{
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: -1;
            }
        }
        .para{
            width: 100%;
            height: 55%;
            font-weight: bold;
            color: black;
            display: flex;
            align-items: center;
        }
    }
}

.signal{
    height: auto;
    width: 100%;
    .containers{
        margin-top: 8vh;
        .row{
            margin-top: 5vh;
            width: 100%;
            height: auto;
            margin-left: 0%;
            .sign{
                .img{
                    height: 50vh;
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    video{
                        width: 100%;
                        height: 100%;
                        source{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 576px) {
    .seo, .sea{
        height: 100vh;
        .int{
            width: 85%;
            .para{
                font-size: 1rem;
            }
            .img{
                h3{
                    font-size: 7rem;
                    left: 10%;
                }
            }
        }
    }
    .bloc{
        height: 27vh;
        .carousel-inner{
            .tcontact{

            }
            .active{
                background-color: red;
            }
            .tsite{
                font-size: 1.7rem;
            }
        }
    }
    .containerp{
        margin-top: 0vh;
        height: auto;
        .row{
            .illustration{
                display: none;
            }
            .para{
                p{
                    font-size: 1.3rem;
                }
            }
            .ime{
                display: none;
            }
        }
    }
    .blocsite{
        height: auto;
        .containerr{
            .row{
                display: flex;
            }
        }
    }
    h2{
        padding-top: 0vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .blocsiter{
        height: auto;
    }
}

@media screen and (min-width: 576px) {
    .signal{
        .containers{
            .row{
                display: flex;
                flex-direction: column;
                .sign{
                    .vid{
                        height: 10vh;
                    }
                }
            }
        }
    }

    .containerp{
        background-color: blue;
        .row{
            .illustration{
                background-color: red;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    body{
        background-color: pink;
    }
}

@media screen and (min-width: 992px) {
    body{
        background-color: gray;
    }
}

@media screen and (min-width: 1200px) {
    body{
        background-color: green;
    }
}

@media screen and (min-width: 1400px) {
    body{
        background-color: teal;
    }
}