@import "bootstrap/bootstrap.scss";
@import "navigation.scss";
@import "presentations.scss";
@import "domaine.scss";
@import "projet.scss";
@import "service.scss";
@import "reference.scss";
@import "bootstrap/variables.scss";
@import "bloc.scss";
@import "site.scss";
@import "bootstrap/navbar.scss";

.entete{
    display: flex;
    padding-left: 0rem;
    padding-right: 0rem;
    .coordone{
        
        .telephone{
            display: flex;
            justify-content: space-around;
            width: 38%;
            height: 100%;
            align-items: center;
            .icon{
                width: 10%;
                svg{
                    width: 100%;
                    height: 50%;
                }   
            }
            p{
                background-color: white;
                margin-top: 6%;
            }
        }
        .adresse{
            display: flex;
            justify-content: space-around;
            width: 50%;
            height: 100%;
            align-items: center;
            .icon{
                width: 10%;
                svg{
                    width: 100%;
                    height: 50%;
                }   
            }
            p{
                background-color: white;
                margin-top: 5%;
            }
        }
    }
    .secent{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .devis{
            height: 60%;
            background-color: black;
            color: white;
        }
        .reseau{
            width: 30%;
            height: 80%;
            display: flex;
            margin-right: -10%;
            justify-content: space-around;
            align-items: center;
            .icon{
                width: 15%;
                svg{
                    width: 100%;
                    height: 65%;
                }
            }
        }
    }
}

.container-fluid{
    padding-right: 0%;
    padding-left: 0%;
    .navbar-brand{
        padding-top: -5%;
    }
}

@media screen and (max-width: 576px) {
    .entete{
        .coordone{
            display: none;
        }
        .secent{
            width: 100%;
            .devis{
                display: flex;
                align-items: center;
            }
            .reseau{
                margin-right: 0%;
            }
        }
    }
    
}

@media screen and (min-width: 576px) {
    body{
        
    }
}

@media screen and (min-width: 768px) {
    .entete{
        .coordone{
            
            height: 6vh;
            .telephone, .adresse{
                width: 100%;
                height: 30%;
                justify-content: flex-start;
                .icon{
                    width: 8%;
                }
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .entete{
        .coordone{
            display: flex;
            width: 50%;
            .telephone, .adresse{
                height: 100%;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    
}

@media screen and (min-width: 1400px) {
    
}




