
.bloc{
    width: 100%;
    height: 80vh;
    position: relative;
    overflow: hidden;
}

.bloc video{
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
}

.bloc h1{
    color: white;
    font-weight: bold;
    margin-top: 20vh;
    margin-left: 10%;
    z-index: 1;
}

.bloc button{
    width: 20%;
    height: 9vh;
    font-weight: bold;
    font-size: xx-large;
    position: absolute;
    z-index: 2;
    right: 7%;
    top: 37vh;
    border-radius: 10%;
}
